{% extends 'baseBlock.html' %} &nbsp;
<title>Страница пользователя</title>
{% block content %}
    <h3> Топ 10 картинок  по рейтингу </h3>
    {% for post in image_posts %} 
            <div class="col-md-4">
                <img  height="400px"  src="{{ post.image.url }}" class="img-responsive" style="width: 60%;  text-align:center;" />
                <p class="text">
                    {{ post.author }} Рейтинг {{ post.rating }} дата {{ post.published_date }} Имя {{ post.title }}
                    <form action="../user/" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="author" value="{{ post.author }}" />
                        <button class="button" type="submit" > Страница автора </button>
                    </form>
                </p>
                {% if user.is_authenticated %}
                    <form action="vote_for_image/" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="vote" value="{{ True }}" />
                        <input type="hidden" name="image" value="{{ post.id }}" />
                        <button class="button" type="submit" > + </button>
                    </form>
                    <form action="vote_for_image/" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="vote" value="{{ False }}" />
                        <input type="hidden" name="image" value="{{ post.id }}" />
                        <button class="button" type="submit" > - </button>
                    </form>
                {% endif %}
            </div> 
    {% endfor %} 
{% endblock content %}
