{% extends 'baseBlock.html' %} &nbsp;
<title>Страница пользователя</title>
{% block content %}
    <p class="text"> Новые картинки </p>
    {% for post in image_posts %}
        {% if user == post.author %}
            <div class="col-md-4">
                <img  height="400px"  src="{{ post.image.url }}" class="img-responsive" style="width: 60%;  margin-right: 10px;" />
                <p class="text">
                    {{ post.author }} Рейтинг {{ post.rating }} дата {{ post.published_date }}
                </p>
                {% if user.is_authenticated %}
                    <form action="vote_for_image/" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="vote" value="{{ True }}" />
                        <input type="hidden" name="image" value="{{ post.id }}" />
                        <button class="button" type="submit" > ∧ </button>
                    </form>
                    <form action="vote_for_image/" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="vote" value="{{ False }}" />
                        <input type="hidden" name="image" value="{{ post.id }}" />
                        <button class="button" type="submit" > ∨ </button>
                    </form>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %} 
{% endblock content %}