{% extends 'baseBlock.html' %} &nbsp;
<title>Страница пользователя</title>
{% block content %}
    <p class="text"> Страница {{ author_name }}</p>
    {% for post in image_posts %}
            <div class="col-md-4">
                <img  height="400px"  src="{{ post.image.url }}" class="img-responsive" style="width: 60%;  margin-right: 10px;" />
                <p>
                    {{ post.author }} Рейтинг {{ post.rating }} дата {{ post.published_date }} Имя {{ post.title }}
                </p>
                {% if user == post.author %}
                    <form action="public_image/" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="image" value="{{ post.id }}" />
                        <button class="button" type="submit" > Опубликовать </button>
                    </form>
                    <form action="del_image/" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="image" value="{{ post.id }}" />
                        <button class="button" type="submit" > Удалить </button>
                    </form>
                {% endif %}
		    </div>
           {% endfor %}
{% endblock content %}
